<%- include("header") -%>



<div>
    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">password</th>
            <th scope="col">totalorders</th>
            <th scope="col">created at</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td><%=customerName%></td>
            <td><%=CEmail%></td>
            <td><%=password%></td>
            <td><%=totalorders%></td>
           
          </tr>
          
        </tbody>
      </table>
</div>


<%- include("footer") -%>
